button:disabled{
	opacity: 0.1;
}

.img-logo{
	max-width:170px;
}

.floating-badge{
	position: relative;
  	display: inline-block;
}

.floating-badge > .label-floating-badge{
  position: absolute;
  top: -10px;
  right: -5px;
  font-weight:300;
}

.cart-product-data{
	overflow-y: auto;
	max-height: 300px;
}

.loader-container{
	text-align: center;
	margin-bottom: 10px;
}

.loader-container > .cart-loader{
	display: inline-block;
	vertical-align: middle;
	width: 10px; 
	height: 10px;
	background: #ca1515;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	animation: fade .9s infinite alternate;
}

.cart-box.popup .button-x {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

.product-attr{
	padding: 0 5px !important;
}

.cart-attribute .product-attr,.cart-attribute .product-attr:hover{
	min-width: 20px !important;
    height: 20px !important;
    line-height: 22px !important;
}

@-webkit-keyframes fade {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0.1;
  }
}
@keyframes fade {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0.1;
  }
}

::-webkit-scrollbar{
	width:10px;
	background:#e7e7e7;
}

::-webkit-scrollbar-thumb{
	background: #323232;
	border:1px solid rgba(0,0,0,.2);
	border-radius:5px;
	box-shadow:1px 1px 1px 0 rgba(0,0,0,.2);
}

.footer-payment{
	max-width: 60px
}