/* Font */
@font-face {
	font-family: arialB;
    src: url("../../both/fonts/arialbd.ttf");
}

@font-face {
	font-family: ralewayB;
    src: url("../../both/fonts/Raleway-Bold.ttf");
}

@font-face {
	font-family: proxima_novaR;
    src: url("../../both/fonts/Proxima-Nova-Regular.ttf");
}

@font-face {
	font-family: proxima_novaB;
    src: url("../../both/fonts/Proxima-Nova-Bold.ttf");
}

@font-face {
	font-family: dinL;
    src: url("../../both/fonts/DINLight.ttf");
}

@font-face {
	font-family: dinR;
    src: url("../../both/fonts/DINRegular.ttf");
}

@font-face {
	font-family: dinM;
    src: url("../../both/fonts/DINMedium.ttf");
}

@font-face {
	font-family: engraversR;
    src: url("../../both/fonts/Engr_Regular.ttf");
}

@font-face {
	font-family: opensansL;
    src: url("../../both/fonts/OpenSans-Light.ttf");
}

@font-face {
	font-family: opensansB;
    src: url("../../both/fonts/OpenSans-Bold.ttf");
}

@font-face {
	font-family: myriadproR;
    src: url("../../both/fonts/MyriadPro-Regular.otf");
}

@font-face {
	font-family: myriadproB;
    src: url("../../both/fonts/MyriadPro-Bold.otf");
}
/* End Font */

/* Other */
.pos_relative{
	position:relative;
}

.height_auto{
	height:auto !important;
}

.margin_cus{
	margin:auto 0 !important;
}

.align_center{
	display:block;
	margin:auto;
}

.align_right{
	display:block;
	margin:auto 0 auto auto;
}

.center{
	text-align:center;
}

.left{
	text-align:left;
}

.right{
	text-align:right;
}

.ds_block{
	display:block !important;
}

.img_width{
	width:100%;
}

.img_center{
	display:block;
	margin:auto;
}

.flex_table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.flex_table > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
/* End Other */

/* Custom Pagination */
.cus_pagination{
	font-family:Arial !important;
	font-weight:600;
}

.cus_pagination > .pagination > .disabled{
	display:none !important;
}

.cus_pagination > .pagination > .active > span{
	background-color:transparent !important;
	color:#474646 !important;
	border:2px solid #EFEFEF !important;
}

.cus_pagination > .pagination > li > a{
	background-color:transparent !important;
	color:#474646 !important;
	border:2px solid #EFEFEF !important;
}

.cus_pagination > .pagination > .active > span:hover{
	background-color:#EFEFEF !important;
}

.cus_pagination > .pagination > li > a:hover{
	background-color:#EFEFEF !important;
}
/* End Custom Pagination */

/* Container */ 
.cus_container{
	margin-left:5%;
	margin-right:5%;
}

.cus_container2{
	margin-left:10%;
	margin-right:10%;
}
/* End Container */

/* Loader */
#floatingCirclesG{position:relative;width:54px;height:54px;margin:auto;transform:scale(0.6);-o-transform:scale(0.6);-ms-transform:scale(0.6);-webkit-transform:scale(0.6);-moz-transform:scale(0.6);}
.f_circleG{position:absolute;background-color:rgb(255,255,255);height:10px;width:10px;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;animation-name:f_fadeG;-o-animation-name:f_fadeG;-ms-animation-name:f_fadeG;-webkit-animation-name:f_fadeG;-moz-animation-name:f_fadeG;animation-duration:1.2s;-o-animation-duration:1.2s;-ms-animation-duration:1.2s;-webkit-animation-duration:1.2s;-moz-animation-duration:1.2s;animation-iteration-count:infinite;-o-animation-iteration-count:infinite;-ms-animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;animation-direction:normal;-o-animation-direction:normal;-ms-animation-direction:normal;-webkit-animation-direction:normal;-moz-animation-direction:normal;}
#frotateG_01{left:0;top:22px;animation-delay:0.45s;-o-animation-delay:0.45s;-ms-animation-delay:0.45s;-webkit-animation-delay:0.45s;-moz-animation-delay:0.45s;}
#frotateG_02{left:6px;top:6px;animation-delay:0.6s;-o-animation-delay:0.6s;-ms-animation-delay:0.6s;-webkit-animation-delay:0.6s;-moz-animation-delay:0.6s;}
#frotateG_03{left:22px;top:0;animation-delay:0.75s;-o-animation-delay:0.75s;-ms-animation-delay:0.75s;-webkit-animation-delay:0.75s;-moz-animation-delay:0.75s;}
#frotateG_04{right:6px;top:6px;animation-delay:0.9s;-o-animation-delay:0.9s;-ms-animation-delay:0.9s;-webkit-animation-delay:0.9s;-moz-animation-delay:0.9s;}
#frotateG_05{right:0;top:22px;animation-delay:1.05s;-o-animation-delay:1.05s;-ms-animation-delay:1.05s;-webkit-animation-delay:1.05s;-moz-animation-delay:1.05s;}
#frotateG_06{right:6px;bottom:6px;animation-delay:1.2s;-o-animation-delay:1.2s;-ms-animation-delay:1.2s;-webkit-animation-delay:1.2s;-moz-animation-delay:1.2s;}
#frotateG_07{left:22px;bottom:0;animation-delay:1.35s;-o-animation-delay:1.35s;-ms-animation-delay:1.35s;-webkit-animation-delay:1.35s;-moz-animation-delay:1.35s;}
#frotateG_08{left:6px;bottom:6px;animation-delay:1.5s;-o-animation-delay:1.5s;-ms-animation-delay:1.5s;-webkit-animation-delay:1.5s;-moz-animation-delay:1.5s;}
@keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
@-o-keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
@-ms-keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
@-webkit-keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
@-moz-keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
#floatingCirclesH{position:relative;width:54px;height:54px;margin:auto;transform:scale(0.6);-o-transform:scale(0.6);-ms-transform:scale(0.6);-webkit-transform:scale(0.6);-moz-transform:scale(0.6);}
.f_circleH{position:absolute;background-color:rgb(255,255,255);height:10px;width:10px;border-radius:5px;-o-border-radius:5px;-ms-border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;animation-name:f_fadeG;-o-animation-name:f_fadeG;-ms-animation-name:f_fadeG;-webkit-animation-name:f_fadeG;-moz-animation-name:f_fadeG;animation-duration:1.2s;-o-animation-duration:1.2s;-ms-animation-duration:1.2s;-webkit-animation-duration:1.2s;-moz-animation-duration:1.2s;animation-iteration-count:infinite;-o-animation-iteration-count:infinite;-ms-animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;-moz-animation-iteration-count:infinite;animation-direction:normal;-o-animation-direction:normal;-ms-animation-direction:normal;-webkit-animation-direction:normal;-moz-animation-direction:normal;}
#frotateH_01{left:0;top:22px;animation-delay:0.45s;-o-animation-delay:0.45s;-ms-animation-delay:0.45s;-webkit-animation-delay:0.45s;-moz-animation-delay:0.45s;}
#frotateH_02{left:6px;top:6px;animation-delay:0.6s;-o-animation-delay:0.6s;-ms-animation-delay:0.6s;-webkit-animation-delay:0.6s;-moz-animation-delay:0.6s;}
#frotateH_03{left:22px;top:0;animation-delay:0.75s;-o-animation-delay:0.75s;-ms-animation-delay:0.75s;-webkit-animation-delay:0.75s;-moz-animation-delay:0.75s;}
#frotateH_04{right:6px;top:6px;animation-delay:0.9s;-o-animation-delay:0.9s;-ms-animation-delay:0.9s;-webkit-animation-delay:0.9s;-moz-animation-delay:0.9s;}
#frotateH_05{right:0;top:22px;animation-delay:1.05s;-o-animation-delay:1.05s;-ms-animation-delay:1.05s;-webkit-animation-delay:1.05s;-moz-animation-delay:1.05s;}
#frotateH_06{right:6px;bottom:6px;animation-delay:1.2s;-o-animation-delay:1.2s;-ms-animation-delay:1.2s;-webkit-animation-delay:1.2s;-moz-animation-delay:1.2s;}
#frotateH_07{left:22px;bottom:0;animation-delay:1.35s;-o-animation-delay:1.35s;-ms-animation-delay:1.35s;-webkit-animation-delay:1.35s;-moz-animation-delay:1.35s;}
#frotateH_08{left:6px;bottom:6px;animation-delay:1.5s;-o-animation-delay:1.5s;-ms-animation-delay:1.5s;-webkit-animation-delay:1.5s;-moz-animation-delay:1.5s;}
@keyframes f_fadeH{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
@-o-keyframes f_fadeH{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
@-ms-keyframes f_fadeH{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
@-webkit-keyframes f_fadeH{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
@-moz-keyframes f_fadeH{0%{background-color:rgb(0,0,0);}
100%{background-color:rgb(255,255,255);}
}
.loader-container{text-align:center;margin-bottom:10px;}
.loader-custom{position:fixed;z-index:1000;display:none;width:100%;}
/* End Loader */

/* Header */
.head_1{
	background:url('../images/banner/bg_shop_header.jpg');
	background-size:cover;
	margin-bottom:10px;
}

.head_2{
	background-color:#2B2B2D !important;
}

.head_2_1 .head_2_hover:not(:last-child){
	border-right:1px solid #ffffff !important; 
}

.head_3{
	background-color:#2B2B2D !important;
	display:none;
	padding-top:15px;
	padding-bottom:15px;
	color:#ffffff;
}

.head_3 > div > .panel-group{
	margin-bottom:0 !important;
}

.head_3 > div > .panel-group > .panel{
	width:100%;
	background:transparent !important;
	border-bottom:2px solid #ffffff;
}

.head_3 > div > .panel-group > .panel > button{
	background:transparent !important;
	border:0 !important;
	text-align:left;
}

.head_3 > div > .panel-group > .panel > button:focus{
	outline:none !important;
	color:#ffffff !important;
}

.head_3_cus_sub{
	margin-bottom:0 !important;
	padding-left: 0;
    padding-right: 0;
	border-top:1px solid #ffffff;
}

.head_3_cus_sub > .panel{
	width:100%;
	background:transparent !important;
}

.head_3_cus_sub > .panel > button{
	background:transparent !important;
	border:0 !important;
	width:100%;
	text-indent:40px;
	text-align:left;
}

.head_3_cus_sub > .panel > button:focus{
	outline:none !important;
	color:#ffffff !important;
}

.head_3_content{
	text-align:left;
	text-indent:40px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:1px solid #ffffff;
}

.head_3_content p{
	margin-bottom:0;
}

.head_3_content a{ 
	color:#ffffff !important;
	text-decoration:none !important;
}

.head_3_content_sub{
	text-align:left;
	text-indent:50px;
	padding-top:5px;
	padding-bottom:5px;
	border-top:1px solid #ffffff;
}

.head_3_content_sub p{
	margin-bottom:0;
}

.head_3_content_sub a{ 
	color:#ffffff !important;
	text-decoration:none !important;
}

.head_under{
	border-bottom:3px solid #D2A865;
	width:30%;
	margin-bottom:10px;
	display:none;
	margin:auto;
}

.head_2_hover{
	position:static;
	display:inline-block !important;
}

.head_2_hover p{
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:0 !important;
}

.head_2_hover a{
	color:#ffffff !important;
	font-family:ralewayB !important;
	font-size:14px !important;
	display:block;
	margin:auto;
	text-decoration:none !important;
}

.head_2_hover:hover{
	cursor:pointer;
}

.head_2_hover:hover > .head_under{
	display:block !important;
}

.head_2_hover:hover > .head_hidden{
	display:block !important;
}

.head_hidden{
	position:absolute;
	width:100%;
	left:0;
	right:0;
	z-index:100;
	display:none;
	padding:5px;
}

.head_hiddens{
	margin-bottom:10px;
}

.head_hidden_con{
	background-color:#2B2B2D;
	border:1px solid #CCC8C2;
	padding:15px 15px 0 15px;
}

.head_hidden_1{
	margin-bottom:15px;
	font-family:RalewayB !important;
	text-align:left;
	border:none !important;
}

.head_hidden_1 p{
	padding-top:0 !important;
	padding-bottom:0 !important;
}

.head_hidden_1 a{
	color:#ffffff !important;
	text-decoration:none !important;
	font-size:1.8em !important;
	display:block;
	margin:auto;
}

.head_hidden_2{
	font-family:dinL !important;
	text-align:left;
	border-left:1px solid #ffffff;
	padding-left:30px;
	padding-bottom:10px;
	display:block;
	margin:auto 0;
}

.head_hidden_2 p{
	padding-bottom:0 !important;
}

.head_hidden_2 a{
	color:#ffffff !important;
	text-decoration:none !important;
	font-size:1.2em !important;
	display:block;
	margin:auto;
}

.head_search{
	display:block;
	margin:auto 0;
}

.head_search input{
	border-radius:0 !important;
	font-family:ralewayB !important;
	font-size:14px !important;
}

.head_search button{
	border-radius:0 !important;
	background-color:#EE3233 !important;
	color:#ffffff !important;
	font-family:ralewayB !important;
	font-size:14px !important;
	border:2px solid #EE3233 !important;
	height:100%;
}

.rs_search{
	padding:10px;
	border:1px solid #666666;
	display:none;
	border-radius:10px;
	position:absolute;
	background-color:white;
	width:100%;
	z-index:305;
	height:200px;
	overflow:auto;
	top:15px;
	left: 0;
    right: 0;
}

.rs_search p{
	padding: 2px 10px;
	margin-bottom:5px !important;
}

.rs_search p:hover{
	background-color:#167ac6 !important;
	color:white;
	cursor:pointer;
}

.hd_button{
	border-right:2px solid #ffffff;
}

.head_login{
	display:block;
	margin:auto 0;
}

.hd_btn_login{
	background-color:#EE3233 !important;
	color:#ffffff !important;
	font-family:proxima_novaB !important;
	font-size:16px !important;
	border:0 !important;
	border-radius:0 !important;
}

.hd_btn_login2{
	background-color:#F29100 !important;
	color:#ffffff !important;
	font-family:dinM !important;
	font-size:14px !important;
	border:0 !important;
	border-radius:0 !important;
	padding:3% 10%;
}

.hd_btn_register{
	background-color:transparent !important;
	color:#ffffff !important;
	font-family:proxima_novaB !important;
	font-size:16px !important;
	border:0 !important;
	border-radius:0 !important;
    outline:none !important;
}

.hd_shop_cart{
	display:block;
	margin:auto 0 !important;
}

.hd_shop_cart a{
	font-family:proxima_novaR !important;
	font-size:16px !important;
	color:#ffffff !important;
	margin-bottom:0 !important;
}

.hd_shop_login1{
	margin-top:20px;
	margin-bottom:20px;
	padding-left:0;
	padding-right:0;
}

.hd_shop_login2{
	color:#ffffff !important;
	width:100%;
	background-color:transparent !important;
	border:none !important;padding:0;
}

.hd_shop_login3{
	border-top:8px solid #EE3233 !important;
	border-right:8px solid transparent !important;
	border-left:8px solid transparent !important;
	margin-left:3% !important;
}

.hd_shop_login4{
	top:130% !important;
	border-radius:0 !important;
	background-color:#ffffff;
	min-width:120px !important;
	left:5% !important;
}

.hd_shop_login5{
	display:block;
	margin:auto 0;
}

.hd_shop_login5 a{
	color:#ffffff !important;
	text-decoration:none !important
}

.hd_caret{
	float:right;
	margin-top:2px;
}

	/* Mini Cart */
	.cart-box.popup{
		position:absolute;
		width:300px;
		z-index:100;
		top:10%;
		padding:15px 0 0 0;
		display:none;
	}

	.hd_cart_active{
		display:block !important;
	}

	.cart-box.popup .button-x{
		position:absolute;
		top:0;
		right:2px;
		cursor:pointer;
	}

	.cart-box.popup .popup-container{
		border:2px #ebebeb solid;
		padding:25px 20px 20px 20px;
		background:#fff;
		position:relative;
		max-height:500px;
		overflow:auto;
	}

	.cart-box.popup .image{
		float:left;
		width:70px;
	}

	.cart-box.popup .image img{
		display:block;
		width:100%;
		height:auto;
	}

	.cart-box.popup .cart-entry{
		padding-bottom:25px;
		margin-bottom:25px;
		border-bottom:2px #ebebeb solid;
		position:relative;
	}

	.cart-box.popup .content{
		margin:0 20px 0 85px;
	}

	.cart-box.popup .content .title{
		font-size:14px;
		line-height:14px;
		color:#666666;
		font-weight:600;
		margin-bottom:5px;
		display:block;
	}

	.cart-box.popup .content .title:hover{
		text-decoration:underline;
	}

	.cart-box.popup .content .quantity{
		font-size:13px;
		line-height:24px;
		color:#666666;
		margin-bottom:3px;
	}

	.cart-box.popup .content .price{
		font-size:18px;
		line-height:24px;
		color:#e11414;
		font-weight:600;
	}

	.cart-box.popup .summary{
		text-align:right;
		margin-bottom:25px;
	}

	.cart-box.popup .summary .subtotal{
		font-size:14px;
		line-height:22px;
		color:#666666;
		font-weight:600;
	}

	.cart-box.popup .summary .grandtotal{
		font-size:18px;
		line-height:22px;
		color:#666666;
		font-weight:600;
	}

	.cart-box.popup .summary .grandtotal span{
		color:#e11414;
	}

	.cart-buttons .column{
		width:100%;
		padding-left:5px;
		float:left;
	}

	.cart-buttons .column:first-child{
		padding-left:0;
		padding-right:5px;
	}

	.cart-buttons{
		display:block;
		margin-bottom:60px;
		text-align:center;
	}

	.button.style-3{
		font-size:12px;
		line-height:16px;
		font-weight:700;
		color:#666666;
		width:100%;
		text-transform:uppercase;
		background-color:transparent !important;
		display:inline-block;
		text-align:center;
		border:2px #666666 solid;
		padding:10px 5px;
	}

	#floatingCirclesG{
		position:relative;
		width:54px;
		height:54px;
		margin:auto;transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
	}

	.f_circleG{
		position:absolute;
		background-color:rgb(255,255,255);
		height:10px;
		width:10px;
		border-radius:5px;
		-o-border-radius:5px;
		-ms-border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
		animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
		animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
		animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	}

	#frotateG_01{
		left:0;
		top:22px;
		animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
	}

	#frotateG_02{
		left:6px;
		top:6px;
		animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
	}

	#frotateG_03{
		left:22px;
		top:0;
		animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
	}

	#frotateG_04{
		right:6px;
		top:6px;
		animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
	}

	#frotateG_05{
		right:0;
		top:22px;
		animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
	}

	#frotateG_06{
		right:6px;
		bottom:6px;
		animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
	}

	#frotateG_07{
		left:22px;
		bottom:0;animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
	}

	#frotateG_08{
		left:6px;
		bottom:6px;
		animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
	}

	@keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
	100%{background-color:rgb(255,255,255);}
	}
	@-o-keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
	100%{background-color:rgb(255,255,255);}
	}
	@-ms-keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
	100%{background-color:rgb(255,255,255);}
	}
	@-webkit-keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
	100%{background-color:rgb(255,255,255);}
	}
	@-moz-keyframes f_fadeG{0%{background-color:rgb(0,0,0);}
	100%{background-color:rgb(255,255,255);}
	}
	/* End Mini Cart */

	/* Modal */
	.cus_modalCon{
		border-radius:0 !important;
		background-color:#0C0C0C;
		padding:8%;
	}

	.cus_modal_input{
		background-color: #ffffff;
		font-family:dinM !important;
	}

	.cus_modal_input1{
		padding:10% 8%;
	}

	.cus_modal_input1 > .form-group{
		margin-bottom:30px !important;
	}

	.cus_modal_tl{
		color:#F29100;
		font-size:30px;
		margin-bottom:30px;
	}

	.cus_modal_input1 > .cus_modal_label{
		color:#ADADAD !important;
	}

	.cus_modal_label2{
		color:#DD1010 !important;
	}

	.cus_modal_input1 input{
		border:0 !important;
		border-bottom:4px solid #D8D6D6 !important;
		box-shadow:none !important;
		padding:0px !important;
		color:#999999 !important;
	}

	.cus_modal_submit button{
		width:100%;
		background-color:#F29100;
		color:#ffffff !important;
	}

	.cus_modal_link{
		display:block;
		margin:auto;
	}

	.cus_modal_link a{
		color:#F29100 !important;
	}
	/* End Modal */
/* End Header */

/* Shop */
	/* Slideshow */
	.swiper-container {
	    width: 100%;
	    height: 100%;
	}

	.swiper-slide {
	    text-align: center;
	    font-size: 18px;
	    background: #fff;
	    /* Center slide text vertically */
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	}

	.swiper-button-prev{
		background-size: 25px 69px !important;
	    width: 33px !important;
	    height: 84px !important;
		background-image:url('../images/other/arrow-shop-prev.png') !important;
	}

	.swiper-button-next{
		background-size: 25px 69px !important;
	    width: 33px !important;
	    height: 84px !important;
		background-image:url('../images/other/arrow-shop-next.png') !important;
	}

	.swipe_content{
		position:absolute;
		width:100%;
		z-index:10;
	}

	.bg_slide_opacity{
		position:absolute;
		width:100%;
		height:100%;
		background:rgba(0,0,0,0.3);
	}

	.swipe_content1{
		width:40%;
		display:block;
		margin:auto 0 auto 10%;
	}

	.swipe_content1 h3{
		font-family:myriadproB !important;
		margin-top:0 !important;
		color:#C07837 !important;
		font-size:2em !important;
	}

	.swipe_content1 p{
		font-family:myriadproR !important;
		color:#ECC082 !important;
		text-align:left;
		font-size:1em;
	}

	.swipe_content1 a > button{
		font-family:myriadproB !important;
		color:#ffffff !important;
		background-color:#DB1D1D !important;
		text-align:left;
		font-size:1em;
		margin-top:10px;
	}
	/* End Slideshow */

.shop_1{
	background-color:#CCC8C2;
	color:494545 !important;
	font-family:dinL !important;
	padding-top:10px;
	padding-bottom:10px;
}

.shop_1 p{
	font-size:16px !important;
	margin-bottom:0 !important;
	font-weight:600;
}

.shop_2{
	background-color:#EFEFEF !important;
	padding-top:20px;
	padding-bottom:20px;
}

.shop_2_ct img{
	min-height:560px;
	margin-bottom:10px;
}

.shop_2_ct_img{
	min-height:274px;
	margin-bottom:10px;
}

.shop_2_ct_tll{
	font-size: 1.8em;
	font-family:dinM !important;
	color:#513920;
	position:absolute;
	top:15px;
	left:15px;
}

.shop_2_ct_tl2l{
	position:absolute;
	bottom:15px;
	font-size: 1.8em;
	font-family:dinM !important;
	color:#513920;
	left:15px;
}

.shop_2_ct_tlr{
	font-size: 1.8em;
	font-family:dinM !important;
	color:#513920;
	position:absolute;
	top:15px;
	right:15px;
	text-align:left;
}

.shop_2_ct_tl2r{
	position:absolute;
	bottom:15px;
	font-size: 1.8em;
	font-family:dinM !important;
	color:#513920;
	padding-top:10px;
	right:15px;
	text-align:left;
}

.shop_3{
	background-color:#EFEFEF !important;
}

.shop_4{
	background-color:#EFEFEF !important;
	padding-bottom:30px;
}

.shop_5{
	background-color:#EFEFEF !important;
	padding-bottom:30px;
}

.shop_5_disc{
	position:absolute;
    top:0;
    right:0;
    background-color:#F15A24;
    color:#ffffff;
    text-align:center;
    width:auto !important;
    padding-left: 0;
    padding-right: 0;
    z-index:10;
}

.shop_5_disc p{
	font-size:24px;
	margin:5px !important;
}

.shop_5_l{
	background-color:#ffffff;
	border-right:4px solid #EFEFEF;
	padding-right:0;
	padding-left:0;
}

.shop_5_lrow{
	display:block;
	margin:auto 0;
}

.shop_5_lname{
	background-color:#C9C9C9;
}

.shop_5_lname a{
	font-size:26px;
	text-align:center;
	font-family:Arial !important;
	font-weight:600;
	color:#565555 !important;
	text-decoration:none !important;
}

.shop_5_lname p{
	margin-top:5px;
	margin-bottom:5px;
}

.shop_5_ldes{
	padding:4%;
}

.shop5_pro_pr_dc{
	color:#DB0B0B !important;
	font-family:dinR !important;
	font-size:27px;
	margin-bottom:0;
	text-align:center;
}

.shop5_pro_pr_dc2{
	color:#DB0B0B !important;
	font-family:dinR !important;
	font-size:27px;
	display:block;
	margin:auto;
	text-align:center;
}

.shop5_pro_pr_rl{
	text-decoration: line-through;
	color:#B5B5B5;
	font-size:20px;
	font-family:dinM !important;
}

/*.shop_5_r1 > div > .shop_5_r1_1:nth-child(2){
	margin-top:15px;
}*/

.shop5_r1_cons{
	display:block !important;
	position:relative !important;
}

.shop_5_r1_1{
	background-color:#ffffff;
	border: 4px solid #EFEFEF;
}

.shop_5_rimg{
	padding-top:15px;
	padding-bottom:15px;
}

.shop_5_rtitle{
	color:#474646;
	font-family:Arial !important;
	font-weight:600;
	font-size:18px;
}

.shop_5_rprice{
	background-color:#EFEFEF;
}	

.shop5_rpro_pr_dc{
	color:#DB0B0B !important;
	font-family:dinR !important;
	font-size:24px;
	margin-bottom:0;
	text-align:center;
}

.shop5_rpro_pr_rl{
	text-decoration: line-through;
	color:#B5B5B5;
	font-size:18px;
	font-family:dinM !important;
	margin-bottom:0;
}

.shop_5_rnopad{
	padding-left:0 !important;
	padding-right:0 !important;
}

.shop5_nobut{
	padding: 0;
    width: 100%;
    height:100%;
}

.shop_title{
	text-align:center;
	position:relative;
}

.shop_title span{
	position: relative;
	font-family:engraversR !important;
	font-size:34px;
	color:#5B4B37;
	margin-bottom:0 !important;
	background-color:#EFEFEF;
	padding:0 5%;
}

.shop_title2{
	text-align:center;
	position:relative;
}

.shop_title2 span{
	position: relative;
	font-family:engraversR !important;
	font-size:34px;
	color:#5B4B37;
	margin-bottom:0 !important;
	padding:0 5%;
}

.shop_title3{
	text-align:center;
	position:relative;
	margin-bottom:20px;
}

.shop_title3 span{
	position: relative;
	font-family:engraversR !important;
	font-size:34px;
	color:#5B4B37;
	margin-bottom:0 !important;
	background-color:#ffffff;
	padding:0 5%;
}

.shop_bn_line{
	border:2px solid #935505;
	position:absolute;
	top:50%;
	width:100%;
}

.sh_promo_con{
	margin-bottom:10px;
}

.sh_pro_tl{
	margin-bottom:15px;
}

.sh_promo_l{
	border-right:4px solid #EFEFEF;
}

.sh_promo_r{
	border-left:4px solid #EFEFEF;
}

.sh_pro1_img{
	padding-top:20px;
	padding-bottom:20px;
}

.sh_pro1_img a{
	color:#474646 !important;
	text-decoration:none !important;
}

.sh_pro_1{
	background-color:#ffffff;
	border-right:4px solid #EFEFEF;
	border-bottom:4px solid #EFEFEF;
}

.sh_pro_1_1{
	margin-top:15px !important;
	margin-bottom:15px !important;
}

.sh_pro_1_2{
	border-top:4px solid #EE3233;
}

.sh_pro_1_3{
	padding:5%;
}

.sh_pro_pr_dc{
	color:#DB0B0B !important;
	font-family:dinR !important;
	font-size:27px;
	margin-bottom:0;
}

.sh_pro_pr_rl{
	text-decoration: line-through;
	color:#B5B5B5;
	font-size:20px;
	font-family:dinM !important;
}

.sh_dc_pr{
	font-family:Helvetica !important;
	font-size:24px !important;
	color:#FFFDFD;
	margin-bottom:0 !important;
	background-color:#F15A24;
	padding:6% 10%;
	border-radius:15%;
}

.sh_pro_pr_dc2{
	color:#DB0B0B !important;
	font-family:dinR !important;
	font-size:17px;
	margin-bottom:0;
}

.sh_pro_pr_rl2{
	text-decoration: line-through;
	color:#B5B5B5;
	font-size:14px;
	font-family:dinM !important;
}

.sh_dc_pr2{
	font-family:Helvetica !important;
	font-size:18px !important;
	color:#FFFDFD;
	margin-bottom:0 !important;
	background-color:#F15A24;
	padding: 10px 8px;
	border-radius: 15%;
}

.sh_pro_con{
	height:100%;
}

.sh_pro_con > .sh_pro_cus:nth-child(2){
	border-right:4px solid #EE3233 !important;
}

.sh_pro_cus{
	background-color:#ffffff;
	border-bottom:4px solid #EFEFEF;
	padding-top:5%;
	padding-bottom:5%;
}

.sh_pro_cus2{
	margin-top:5%; 
}

.sh_pro_3 a{
	text-decoration:none !important;
}

.sh_pro_3 p{
	font-family:dinR !important;
	font-size:15px;
	color:#474646 !important;
}

.sh_bs_1_con{
	background-color:#FFFFFF;
}

.sh_bs_1_con2{
	display:block;
	margin:auto;
}

.sh_bs_1_img{
	padding-top:20px;
	padding-bottom:20px;
}

.sh_bs_1_1{
	background-color:#C9C9C9;
	color:#565555;
}

.sh_bs_1_1_tl{
	font-size:30px;
	font-family:arialB !important;
	text-align:center;
	margin-top:5px !important;
	margin-bottom:5px !important;
}

.sh_bs_1_2_pr{
	padding:15px; 
}

.sh_bs_1_2_prc{
	color:#DB0B0B;
	font-family:dinR !important;
	font-size:35px;
	text-align:center;
	margin-bottom:0px !important;
}

.sh_bs_1_2_dc{
	color:#B5B5B5;
	text-decoration: line-through;
	font-family:Helvetica !important;
	font-size:26px;
	text-align:center;
}

.sh_bs_1_2_btn{
	padding:0 !important;
	border:0 !important;
	background:transparent !important;
}

.sh_bs_2{
	margin-bottom:20px;
}

.owl_custom{
	-webkit-box-shadow: 0px 0px 36px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 36px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 36px -4px rgba(0,0,0,0.75);
}

.sh_dc_abso_1{
	position:absolute;
	z-index:10;
	top:0;
	right:0;
}

.sh_dc_abso_1 p{
	font-size:28px;
	font-family:dinR !important;
	position:absolute;
	top:10%;
	right:2%;
	color:#ffffff;
}

.sh_dc_abso_1_1{
	margin-bottom:0 !important;
}

.sh_dc_abso_1_1 a{
	color:#474646 !important;
	text-decoration:none !important;
	font-family:arial !important;
	font-weight:600;
	font-size: 1.2em;
}

.sh_dc_abso_1_2{
	color:#DB0B0B;
	font-size:1.3em;
	font-weight:600;
	font-family:Helvetica !important;
	margin-bottom:0 !important;
}

.sh_dc_abso_1_2_rc{
	color:#DB0B0B;
	font-size:1.6em;
	font-weight:600;
	font-family:Helvetica !important;
	margin-bottom:20px !important;
}

.sh_dc_abso_1_3{
	font-family:dinM !important;
	font-size:1em;
	color:#B5B5B5;
	text-decoration:line-through;
}

.sh_dc_abso_btn{
	background:transparent !important;
	border:0 !important;
}

	/* slideshow product */
	.sh_bs_2_cons{
		background-color:#ffffff;
		padding-top:20px;
		padding-bottom:20px;
		position:relative;
	}

	.owl-theme .owl-nav [class*=owl-]{
		background:transparent !important;
	}

	.owl-prev{
		position:absolute;
		top:50%;
		color:black!important;
		left:15px;
		background-color:rgba(255, 255, 255, 0.5);
		text-align:center;
		z-index:20;
	}

	.owl-next{
		position:absolute;
		top:50%;
		color:black!important;
		right:15px;
		background-color:rgba(255, 255, 255, 0.5);
		text-align:center;
		z-index:20;
	}
	/* end slideshow product */
/* End Shop */

/* Flash Deal */
.flash_banner{
	margin-top:30px;
}

.flash_pro_con{
	margin-top:2%;
	margin-bottom:2%;
}

.flash_disc{
	position:absolute;
	width:100%;
	top:15px;
	left:0;
	z-index:20;
}

.flash_disc_off{
	position: absolute;
    z-index: 30;
    top: 31px;
    left: 21px;
    font-size: 17px;
    color: white;
    -webkit-transform: rotate(-48deg);
    -moz-transform: rotate(-48deg);
    -ms-transform: rotate(-48deg);
    -o-transform: rotate(-48deg);
}

.flash_pro{
	padding:3%;
}

.flash_pro2{
	position:relative;
	-webkit-box-shadow: 1px 5px 15px 2px rgba(181,181,181,1);
	-moz-box-shadow: 1px 5px 15px 2px rgba(181,181,181,1);
	box-shadow: 1px 5px 15px 2px rgba(181,181,181,1);
	padding:2%;
}

.flash_img{
	padding-top:30px;
	padding-bottom:30px;
}

.flash_pr_img_2{
	display:block;
	margin:auto 0;
}

.flash_price{
	color:#B5B5B5;
	text-align:center;
}

.flash_pr_n{
	font-family:dinL !important;
	font-size: 1em;
	margin-bottom:0;
}

.flash_pr_nor{
	font-family:dinL !important;
	font-size: 1.6em;
	text-decoration:line-through;
}

.flash_pr_disc{
	margin-top:15px;
	margin-bottom:15px;
	text-align:center;
}

.flash_dc_n{
	font-family:dinR !important;
	font-size:1em;
	color:#7F7979;
	font-weight:600;
	margin-bottom:0;
}

.flash_dc_nor{
	color:#DB0B0B;
	font-family:dinR !important;
	font-size: 2em;
	font-weight:600;
}

.flash_pr_disc2{
	text-align:center;
	background-color:#EFEFEF;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:0;
}

.flash_pr_dic2{
	color:#F05A28;
	font-family:dinR !important;
	font-size: 2.2em;
	font-weight:600;
	margin-bottom:0;
}

.flash_coming_con{
	margin-top:15px;
	background-color:#CEA57C;
}

.flash_coming_con p{
	font-family:dinR !important;
	font-size:1.8em;
	text-align:center;
	color:#ffffff;
	margin-bottom:0;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:600;
}

.flash_stock_con{
	margin-top:15px;
	background-color:#BDBEC0;
}

.flash_stock_con p{
	font-family:dinR !important;
	font-size:1.8em;
	text-align:center;
	color:#ffffff;
	margin-bottom:0;
	padding-top:5px;
	padding-bottom:5px;
	font-weight:600;
}

.flash_countdown{
	color:#7F6A54;
	font-family:dinL !important;
	text-align:center;
	margin-top:10px;
}

.flash_countdown p{
	margin-bottom:0;
}

.flash_next_con{
	-webkit-box-shadow: 1px 5px 15px 2px rgba(181,181,181,1);
	-moz-box-shadow: 1px 5px 15px 2px rgba(181,181,181,1);
	box-shadow: 1px 5px 15px 2px rgba(181,181,181,1);
	margin-top:3%;
	margin-bottom:3%;
	padding:4% 4% 0 4%;
}

.flash_next_pro{
	margin-bottom:4%;
}

.flash_next_disc{
	position:absolute;
	z-index:10;
	top:0;
	left:0;
}

.flash_next_disc p{
    position: absolute;
    z-index: 30;
    top: 31px;
    left: 21px;
    font-size: 17px;
    color: white;
    -webkit-transform: rotate(-48deg);
    -moz-transform: rotate(-48deg);
    -ms-transform: rotate(-48deg);
    -o-transform: rotate(-48deg);
}

.flash_next_pro1{
	padding-top:20px;
}

.flash_next_pro_tl{
	font-family:Arial !important;
	font-weight:600;
	color:#474646;
	font-size:17px;
	text-align:center;
	margin-bottom:0 !important;
}

.flash_pro_disc{
	font-family:Helvetica !important;
	font-size:17px;
	color:#DB0B0B;
	text-align:center;
	margin-bottom:0 !important;
	font-weight:600;
}

.flash_pro_rl{
	font-family:Helvetica !important;
	font-size:14px;
	color:#B5B5B5;
	text-align:center;
	margin-bottom:0 !important;
	font-weight:600;
	text-decoration:line-through;
}

.flash_next_date{
	background-color:#CEA57C;
	padding:2%;
	font-family:Arial !important;
	font-weight:600;
	color:#ffffff;
	margin-top:15px;
	margin-bottom:0 !important;
	font-size:24px;
}

.flash_next_date_stock{
	background-color:#BDBEC0;
	padding:2%;
	font-family:Arial !important;
	font-weight:600;
	color:#ffffff;
	margin-top:15px;
	margin-bottom:0 !important;
	font-size:24px;
}

.flash_next_none{
	margin-bottom:4%;
}

.flash_block{
	display:block !important;
}
/* End Flash Deal */

/* Shop Product */
.shop_pro_con{
	padding-top:5%;
	padding-bottom:5%;
}

	/* Slideshow */
	.shop_pro_slide_cus{
		padding:5%;
	}

	/*.shop_pro_slide_cus2{
		padding:3%;
	}*/

	.gallery-top {
        height: 80%;
        width: 100%;
        -webkit-box-shadow: 2px 3px 23px -6px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 3px 23px -6px rgba(0,0,0,0.75);
		box-shadow: 2px 3px 23px -6px rgba(0,0,0,0.75);
    }
    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 1;
        -webkit-box-shadow: 2px 3px 23px -6px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 3px 23px -6px rgba(0,0,0,0.75);
		box-shadow: 2px 3px 23px -6px rgba(0,0,0,0.75);
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 0.4;
    }
	/* End Slideshow */

.shop_pro_1_cons{
	border-bottom:1px solid #000000;
	padding-top:10px;
	padding-bottom:10px;
}

.shop_pro_1_1{
	font-family:dinR !important;
	font-size:46px;
	font-weight:600;
	color:#474646;
	margin-bottom:0;
}

.shop_pro_1_2{
	font-family:dinL !important;
	font-size:38px;
	color:#DB0B0B;
	text-align:right;
	margin-bottom:0;
}

.shop_pro_1_3{
	font-family:dinL !important;
	font-size:27px;
	text-decoration:line-through;
	color:#B5B5B5;
	text-align:right;
}

.shop_pro_1_desc{
	padding-top:30px;
	padding-bottom:20px;
	padding-left:0;
	padding-right:0;
}

.shop_pro_1_4{
	font-family:dinL !important;
	font-size:22px;
	color:#474646;
	line-height:170%;
}

	/* Add Minus Product */
	.quantity-selector{
		font-size: 0;
		display: block !important;
   	 	margin: auto;
	}

	.quantity-selector .button{
		margin-right: 20px;
	}

	.quantity-selector .entry{
		border: 1px #d1d1d1 solid; 
		height: 37px; 
		line-height: 35px; 
		width: 37px; 
		margin-left: -1px; 
		display: inline-block; 
		cursor: pointer; 
		position: relative; 
		font-size: 12px; 
		color: #4c4c4c; 
		text-align: center; 
		user-select: none; 
		-webkit-user-select: none; 
		-moz-user-select: none;
	}

	.quantity-selector .entry.number-minus:before, .quantity-selector .entry.number-plus:before{
		content: ""; 
		width: 11px; 
		height: 2px; 
		background: #4d4d4d; 
		left: 50%; 
		margin-left: -5.5px; 
		top: 50%; 
		margin-top: -0.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number-plus:after{
		content: ""; 
		height: 11px; 
		width: 2px; 
		background: #4d4d4d; 
		left: 50%; 
		margin-left: -0.5px; 
		top: 50%; 
		margin-top: -5.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number{
		cursor: default; 
		padding: 0 5px; 
		width: auto; 
		max-width: 60px !important;
	}

	.quantity-selector .entry.number-minus:hover, .quantity-selector .entry.number-plus:hover{
		background: #EFEFF0;
	}

	.quantity-selector .entry.number-minus{
	    margin-left: 0;
	}
	.quantity-selector .entry:hover:before, .quantity-selector .entry:hover:after{
		background: #474747!important;
	}

	.quantity-selector .entry.number-minus:active, .quantity-selector .entry.number-plus:active{
		background: #EFEFF0;
	}

	.quantity-selector .entry.number-minus2:before, .quantity-selector .entry.number-plus2:before{
		content: ""; 
		width: 11px; 
		height: 2px; 
		background: #4d4d4d; 
		left: 50%; 
		margin-left: -5.5px; 
		top: 50%; 
		margin-top: -0.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number-plus2:after{
		content: ""; 
		height: 11px; 
		width: 2px; 
		background: #4d4d4d; 
		left: 50%; 
		margin-left: -0.5px; 
		top: 50%; 
		margin-top: -5.5px; 
		position: absolute;
	}

	.quantity-selector .entry.number2{
		cursor: default; 
		padding: 0 5px; 
		width: auto; 
		max-width: 40px !important;
	}

	.quantity-selector .entry.number-minus2:hover, .quantity-selector .entry.number-plus2:hover{
		background: #EFEFF0;
	}

	.quantity-selector .entry.number-minus2{
	    margin-left: 0;
	}
	.quantity-selector .entry:hover:before, .quantity-selector .entry:hover:after{
		background: #474747!important;
	}

	.quantity-selector .entry.number-minus2:active, .quantity-selector .entry.number-plus2:active{
		background: #EFEFF0;
	}
	/* End Add Minus Product */

.shop_pro_add{
	background-color:#DB0B0B !important;
	border-radius:20%;
	color:#ffffff !important;
	font-family:Arial !important;
	font-weight:600;
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
}

.shop_pro_2{
	margin-top:4%;
	margin-bottom:2%;
}

.shop_pro_3{
	background-color:#F2F2F2;
	padding:4% 6%;
	font-family:dinL !important;
	font-size:24px !important;
	margin-bottom:4%;
}
/* End Shop Product */

/* Shop Category */
.shop_category_banner{
	margin-top:15px;
}

.shop_category_con{
	padding-top:30px;
	padding-bottom:30px;
}

.shop_category_cons{
	-webkit-box-shadow: 7px 4px 26px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 4px 26px -5px rgba(0,0,0,0.75);
	box-shadow: 7px 4px 26px -5px rgba(0,0,0,0.75);
	padding-top:5%;
	padding-left:5%;
	padding-right:5%;
}

.shop_category_cons_not{
	padding:4%;
	-webkit-box-shadow: 7px 4px 26px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 4px 26px -5px rgba(0,0,0,0.75);
	box-shadow: 7px 4px 26px -5px rgba(0,0,0,0.75);
}

.shop_category_disc{
	position:absolute;
	z-index:10;
	top:0;
	left:0;
}

.shop_category_disc p{
    position: absolute;
    z-index: 30;
    top: 26px;
    left: 13px;
    font-size: 17px;
    color: white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.shop_category_pro{
	padding-top:20px;
}

.shop_category_pro_cons{
	margin-bottom:5%;
	border-right:1px solid #EFEFEF;
}

.shop_category_cons > div > .shop_category_pro_cons:nth(4n+4){
	border-right:0 !important;
}

.shop_category_pro_tl{
	text-align:center;
}

.shop_category_pro_tl a{
	font-family:Arial !important;
	font-weight:600;
	color:#474646;
	font-size:17px;
	margin-bottom:0 !important;
	text-decoration:none !important;
}

.shop_category_pro_disc{
	font-family:Helvetica !important;
	font-size:17px;
	color:#DB0B0B;
	text-align:center;
	margin-bottom:0 !important;
	font-weight:600;
}

.shop_category_pro_rl{
	font-family:Helvetica !important;
	font-size:14px;
	color:#B5B5B5;
	text-align:center;
	margin-bottom:0 !important;
	font-weight:600;
	text-decoration:line-through;
}

.shop_category_pro_rl2{
	font-family:Helvetica !important;
	font-size:17px;
	color:#DB0B0B;
	text-align:center;
	margin-bottom:0 !important;
	font-weight:600;
}
/* End Shop Category */

/* Cart */
.cart_shop_head{
	margin-top:5%;
}

.cart_body{
	padding-bottom:8px !important;
}

.cart_head{
	padding-top:10px;
	color:#666666 !important;
	font-family:opensansL !important;
	font-size:17px;
}

.cart_body{margin-top:5% !important;text-align:center;}
.cart_span{margin-top:5px;}
.cart_input{width:50%;text-align:center;}
.cart_input input{text-align:center;}
.cart_button{float:right;background-color:transparent !important;border:none !important;color:#666666 !important;}
.cart_button_check{background-color:#9E9E9E !important;padding-left:15px;padding-right:15px;height:100%;}
.cart_button_check a{display:block;margin:auto;}
.cart_button_check button{background-color:transparent !important;padding:10px 5px;color:#ffffff !important;border:0 !important;font-family:opensansB;width:100%;}
.cart_con2{border-bottom:1px solid #666666;margin-top:20px;padding-bottom:30px;margin-bottom:20px;}
.cart_con3{margin-top:20px;font-family:opensansL !important;}
.cart_con3 > div > div > h3{color:#333333 !important;font-weight:normal !important;font-size:21px !important;}
.cart_con3 > div > div > p{color:#666666 !important;}
.cart_con3_title{font-family:opensansL !important;color:#666666 !important;font-weight:600;}
.cart_con3_h{color:#683B11 !important;}
.cart_con3_body{margin-bottom:20px;}
.cart_con3_input{padding-top:10px;padding-bottom:10px;padding-left:10px;width:100%;}
.cart_con3_button{width:100%;padding:10px 20px;background-color:#666666;border:none !important;color:#ffffff !important;font-family:opensansB;margin-top:20px;margin-bottom:20px;}
.cart_con3_select{padding:10px 10px 10px 4px;width:100%;color:#666666 !important;}
.cart_con4{color:#666666 !important;padding:40px;}
.up_total{color:#EE3233;font-family:opensansB !important;font-size:22px;text-align:right;}
.up_desc{color:#333333;font-size:26px;text-align:left;font-family:opensansL !important;}
.up_num{font-family:opensansB;font-size:18px;text-align:right;}
.up_span{float:right;}
.cart_con4_total{font-family:opensansB;margin-bottom:10px;padding-top:20px;border-top:1px solid #757575;margin-top:15px;}
.cart_con4_button{background-color:#DB0B0B;}
.cart_con4_button a{display:block;margin:auto;}
.cart_con4_button button{width:100%;padding:10px 5px;background-color:transparent !important;border:none !important;color:#ffffff !important;font-family:opensansB;}
.total_grand_total{margin-top:20px;}
.cart_empty{margin-top:2%;margin-bottom:2%;}
.cart_rekomen{margin-bottom:5%;}
.cart_btns{
	margin-bottom:15px;
}
/* End Cart */

/* Checkout */
.shop_checkout_con{
	padding-top:8%;
	padding-bottom:8%;
}

.shop_checkout_guest_tl{
	color:#333333;
	font-family:opensansL !important;
	font-size:30px;
}

.shop_checkout_guest_desc{
	color:#808080;
	font-family:opensansL !important;
	font-size:14px;
	margin-bottom:15px;
}

.shop_checkout_guest_input{
	color:#B5B0B1 !important;
}

.shop_checkout_guest_buttona{
	text-align: center;
    width:100%;
    display: inline-block;
    padding:3%;
	margin-top:10px;
    margin-bottom: 10px;
    background-color: #9E9E9E;
    color: #ffffff !important;
    border: none !important;
    font-family: dinM !important;
    text-decoration:none !important;
}

.shop_checkout_guest_buttonb{
	text-align: center;
    width:100%;
    display: inline-block;
    padding:3%;
	margin-top:10px;
    margin-bottom: 10px;
    background-color: #DB0B0B;
    color: #ffffff !important;
    border: none !important;
    font-family: dinM !important;
}
/* End Checkout */


/* Checkout Detail */
.cDTO{
	color:#666666 !important;
	border:1px solid #666666;
	padding:40px;
}

.dtl_order{
	margin-top:40px;
	padding-bottom:20px;
}

.dtl_img{
	max-width:100px;
}

.dtl_head{
	padding-bottom:20px;
}

.dtl_heading{
	margin-bottom:20px;
}

.dtl_addressL ul{
	list-style-type:none;
	padding-left:0 !important;
	font-size:14px;
}

.dtl_bold{
	font-family:opensansB !important;
}

.dtl_image{
	height:80px;
}

.dtl_table{
	font-weight:600;
}

.dtl_table thead>tr>th{
	text-align:center;
}

.dtl_td{
	vertical-align:middle !important;
}

.dtl_tdL{
	text-align:left !important;
}

.dtl_th th{
	text-align:center;
	border-top:1px solid #666666 !important;
	border-bottom:1px solid #666666 !important;
}

.dtl_td td{
	text-align:center;
	border-top:1px solid #666666 !important;
	border-bottom:1px solid #666666 !important;
}

.dtl_button{
	margin-top:40px;
	margin-bottom:20px;
}

.dtl_button button{
	display:inline-block;
	background-color:#666666 !important;
	color:#ffffff !important;
	border:none !important;
	font-family:opensansB !important;
}

.dtl_Cbutton{
	margin-bottom:10px;
}
/* End Checkout Detail */

/* Profile */
.profile_con{
	padding-top:5%;
	padding-bottom:5%;
}

.pl_1{
	border-bottom:1px solid #666666;
	font-size:16px;
	font-family:opensansB !important;
}

.pl_2{
	background-color:transparent;
	border:1px solid #666666;
	padding:10px 30px;
	color:#666666 !important;
	border-radius:10px;
}

.pl_3{
	margin-top:20px;
}

.pl_4{
	margin-bottom:10px;
}

.pl_5{
	margin-bottom:5px;
}

.pl_6{
	text-align:right;
}

.pl_7{
	width:90%;
	padding:5px 0;
	margin-bottom:10px;
	background-color:#666666;
	color:#ffffff !important;
	font-family:opensansB !important;
	border:none!important;
}

.pl_8{
	margin-top:40px;
	margin-bottom:20px;
	border-top:1px solid #683B11;
}

.pl_8_1{
	margin-top:30px;
	margin-bottom:20px;
	color:#683B11 !important;
}

.pl_8_2{
	border:1px solid #683B11;
	width:32px;margin-bottom:20px;
}

.pl_9{
	color:#683B11 !important;
	font-family:opensansB !important;
}

.pl_10{
	color:#666666 !important;
}
/* End Profile */

/* Edit Profile */
.ep_1{
	border-bottom:1px solid #666666;
	font-size:16px;
	font-family:opensansB !important;
}

.ep_2{
	margin-bottom:10px;
}

.ep_2_1{
	margin-bottom:5px;
}

.ep_3{
	text-align:right;
}

.ep_4{
	width:90%;
	padding:5px 0;
	margin-bottom:10px;
	background-color:#666666;
	color:#ffffff !important;
	font-family:opensans !important;
	border:none!important;
}

.ep_10{
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	width:90%;
	padding:5px 0;
	margin-bottom:10px;
	background-color:#EE3233;
	color:#ffffff !important;
	font-family:opensansB !important;
	border:0 !important;
	text-align:center;
	text-decoration:none !important;
	outline:none !important;
}

.ep_5{
	margin-top:40px;
	margin-bottom:20px;
	border-top:1px solid #683B11;
}

.ep_6{
	margin-top:30px;
	margin-bottom:20px;
	color:#683B11 !important;
}

.ep_7{
	border:1px solid #683B11;
	width:32px;
	margin-bottom:20px;
}

.ep_8{
	color:#683B11 !important;
	font-family:opensansB !important;
}

.ep_9{
	color:#666666 !important;
}
/* End Edit Profile */

/* Histori Order */
.histori_con{
	padding-top:5%;
	padding-bottom:5%;
}

.oh_1{
	border-bottom:1px solid #666666;
	font-size:16px;
	font-family:opensansB !important;
}

.oh_2{
	margin-top:20px;
}

.oh_2_1{
	border:1px solid white;
}

.oh_2_2{
	background-color:#666666;
	color:#ffffff !important;
}

.oh_3{
	margin-top:40px;
	margin-bottom:20px;
	border-top:1px solid #683B11;
}

.oh_3_1{
	margin-top:30px;
	margin-bottom:20px;
	color:#683B11 !important;
}

.oh_3_2{
	border:1px solid #683B11;
	width:32px;
	margin-bottom:20px;
}

.oh_4{
	color:#683B11 !important;
	font-family:opensansB !important;
}

.oh_5{
	color:#666666 !important;
}
/* End Histori Order */

/* Detail Order */
.cDTO{
	color:#666666 !important;
	border:1px solid #666666;
	padding:40px;
}

.dtl_order{
	margin-top:40px;
	padding-bottom:20px;
}

.dtl_img{
	max-width:100px;
}

.dtl_head{
	padding-bottom:20px;
}

.dtl_heading{
	margin-bottom:20px;
}

.dtl_addressL ul{
	list-style-type:none;
	padding-left:0 !important;
	font-size:14px;
}

.dtl_bold{
	font-family:opensansB !important;
}
.dtl_image{
	height:80px;
}

.dtl_table{
	font-weight:600;
}

.dtl_table thead>tr>th{
	text-align:center;
}

.dtl_td{
	vertical-align:middle !important;
}

.dtl_tdL{
	text-align:left !important;
}

.dtl_th th{
	text-align:center;
	border-top:1px solid #666666 !important;
	border-bottom:1px solid #666666 !important;
}

.dtl_td td{
	text-align:center;
	border-top:1px solid #666666 !important;
	border-bottom:1px solid #666666 !important;
}

.dtl_button{
	margin-top:40px;
	margin-bottom:20px;
}

.dtl_button button{
	display:inline-block;
	background-color:#666666 !important;
	color:#ffffff !important;
	border:none !important;
	font-family:opensansB !important;
}

.dtl_Cbutton{
	margin-bottom:10px;
}
/* End Detail Order */

/* Change Password */
.change_password_con{
	padding-top:5%;
	padding-bottom:5%;
}

.ch_1{
	border-bottom:1px solid #666666;
	font-size:16px;
	font-family:opensansB !important;
}

.ch_2{
	margin-bottom:10px;
}

.cH_2_1{
	margin-bottom:5px;
}

.ch_3{
	text-align:right;
}

.ch_3_1{
	width:90%;
	padding:5px 0;
	margin-bottom:10px;
	background-color:#666666;
	color:#ffffff !important;
	font-family:opensansB !important;
	border:none!important;
}

.ch_4{
	margin-top:40px;
	margin-bottom:20px;
	border-top:1px solid #683B11;
}

.ch_4_1{
	margin-top:30px;
	margin-bottom:20px;
	color:#683B11 !important;
}

.ch_4_2{
	border:1px solid #683B11;
	width:32px;
	margin-bottom:20px;
}

.ch_5{
	color:#683B11 !important;
	font-family:opensansB !important;
}

.ch_6{
	color:#666666 !important;
}
/* End Change Password */

/* Shop Support */
.shop_support_con{
	padding-top:8%;
	padding-bottom:8%;
}

.sp_con1{
	border:1px solid #666666;
	padding:30px 20px 20px 20px;
	color:#666666;
	width:auto;
	min-width:210px;
	margin-right:40px;
	margin-bottom:40px;
}

.sp_con1 a{
	color:#666666 !important;
}

.sp_con1 a>p{
	margin-bottom:15px;
}

.sp_con1 a:hover{
	text-decoration:none !important;
	cursor:pointer;
}

.sp_con1 h3{
	margin-top:0 !important;
}

.sp_con2{
	color:#666666 !important;
	margin-top:0 !important;
}

.sp_con2 h2{
	color:#333333 !important;
	margin-top:0 !important;
	font-weight:600;
	margin-bottom:25px;
}

.sp_con2 h3{
	font-weight:600;
	margin-top:0 !important;
}

.sp_con2 p{
	line-height:24px;
}

.sp_con2_1{
	border-bottom:1px solid #333333;
	margin-top:20px;
	padding-bottom:15px;
}

.sp_con3{
	margin-top:30px;
}
.sp_con4{
	margin-top:40px;
	margin-bottom:20px;
	border-top:1px solid #683B11;
}

.sp_con5{
	margin-top:30px;
	margin-bottom:20px;
	color:#683B11 !important;
}

.sp_con6{
	border:1px solid #683B11;
	width:32px;
	margin-bottom:20px;
}

.sp_con7{
	color:#683B11 !important;
	font-family:opensansB;
}

.sp_con8{
	color:#666666 !important;
}
/* End Shop Support */

/* Checkout Confirm */
.shop_conf_con{
	padding-top:8%;
	padding-bottom:8%;
	font-family:opensansL !important;
}

.shop_conf_con label{
	color:#808080;
	font-size:16px !important;
	font-weight:normal !important;
}

.shop_conf_1{
	font-size:30px;
	color:#333333;
}

.shop_conf_2{
	color:#808080;
	font-size:17px;
	margin-bottom:10px;
}

.shop_conf_3{
	text-align:right;
}

.shop_conf_button{
	background-color:#DB0B0B;
	color:#FAF9F5 !important;
	font-family:ralewayB !important;
	border-radius:0 !important;
}
/* End Checkout Confirm */

/* Footer */
.footer{
	background-color:#701B1F;
	color:white;
	padding-top:1%;
}
/* End Footer */

/* Media Screen */
@media screen and (min-width:320px) and (max-width:360px){
	.g-recaptcha{
		transform:scale(0.8);
		transform-origin:0 0;
	}
}

@media screen and (min-width:361px){
	.g-recaptcha{
		float:right;
	}
}

@media screen and (max-width:767px){
	.cus_container{
		margin-right:0 !important;
		margin-left:0 !important;
	}

	.hd_logo{
		margin-bottom:10px;
	}

	.head_search{
		margin-bottom:10px;
	}

	.hd_button{
		border:0 !important;
		margin-bottom:10px;
	}

	.hd_mn_cart{
		margin-bottom:10px;
	}

	.shop_2_ct_col{
		padding-left:15px;
		padding-right:15px;
	}

	.sh_promo_l{
		border: 0 !important;
	}

	.sh_promo_r{
		border: 0 !important;
	}

	.sh_pro_1{
		border:0 !important;
		margin-bottom:10px;
	}

	.sh_pro_cus{
		margin-bottom:10px;
		border:0 !important;
	}

	.sh_dc_pr{
		padding: 4% 8% !important;
		display:block;
		margin:auto;
		width: auto;
		font-size: 20px !important;
	}

	.sh_dc_pr2{
		padding: 4% 8% !important;
		display:block;
		margin:auto;
		width: auto;
		font-size: 20px !important;
	}

	.cus_center{
		text-align:center;
	}

	.cus_modalHide{
		display:none !important;
	}

	.cart_head{
		display:none !important;
	}

	.shop_bn_line{
		display:none !important;
	}

	.shop_title span{
		font-size:2em;
		padding:0 !important;
	}

	.shop_title2 span{
		font-size:2em;
		padding:0 !important;
	}

	.shop_title3 span{
		font-size:2em;
		padding:0 !important;
	}

	.up_span{
		float:none !important;
	}

	.up_num{
		text-align:left !important;
	}

	.up_total{
		text-align:left !important;
	}

	.cart_con4{
		padding:0 !important;
	}

	.cart_span{
		margin-top:5px;
	}

	.head_2{
		display:none !important;
	}

	.head_3{
		display:block !important;
	}

	.swipe_content1{
		width:auto !important;
		margin:auto 10% auto 10% !important;
	}

	.cus_swipe_img img{
		min-height:300px;
	}

	.swipe_content1 h3{
		font-size:1em !important;
	}

	.swipe_content1 p{
		font-size:0.6em !important;
	}

	.swipe_content1 a > button{
		font-size:0.5em !important;
	}
}

@media screen and (min-width:768px){
	.sh_pro_con div:first-child, .sh_pro_con div:nth-child(3){
		min-height:33.33%;
	}

	.sh_pro_con div:nth-child(2){
		min-height:33.34%;
	}

	.sh_dc_pr_con{
	    display: block;
	    margin: auto;
	}

	.sh_dc_pr_con2{
		width: auto;
	    display: block;
	    margin: auto 0;
	}

	.sh_promo_l{
		margin-bottom:10px;
	}

	.sh_promo_r{
		margin-bottom:10px;
	}

	.cus_modal{
		width:750px !important;
	}
}

@media screen and (min-width:768px) and (max-width:1023px){
	.hd_con_bt_cr{
		margin-bottom:10px;
	}

	.sh_promo_l{
		border:0 !important;
	}

	.sh_promo_r{
		border:0 !important;
		margin-bottom:10px;
	}

	.cus_container2{
		margin-right:0% !important;
		margin-left:0% !important;
	}

	.swipe_content1{
		width:50% !important; 
	}

	.swipe_content1 h3{
		font-size:1.4em !important;
	}

	.swipe_content1 p{
		font-size:0.6em !important;
	}

	.swipe_content1 a > button{
		font-size:0.5em !important;
	}
}

@media screen and (max-width:1023px){
	.cart-box.popup{
		display:none!important;
	}
}

@media screen and (min-width:1024px) and (max-width:1439px){
	.cus_container{
		margin-right:0 !important;
		margin-left:0 !important;
	}

	.cus_container2{
		margin-right:0 !important;
		margin-left:0 !important;
	}

	.cart-box.popup{
		right:0;
	}

	.swipe_content1{
		width:50% !important; 
	}
}

@media screen and (min-width:1440px){
	.cart-box.popup{
		left:0;
	}
}
/* End Media Screen 