/* font */
@font-face {
	font-family: elliotB;
    src: url("../../both/fonts/ElliotSans-Bold.ttf");
}

@font-face {
	font-family: elliotR;
    src: url("../../both/fonts/ElliotSans-Regular.ttf");
}

@font-face {
	font-family: EspressoB;
    src: url("../../both/fonts/Espresso-Bold.ttf");
}

@font-face {
	font-family: mvboli;
    src: url("../../both/fonts/mvboli.ttf");
}
/* End Font */

/* Other */
.img_soldout{
	position:absolute;
	width:100%;
	height:100%;
	opacity:0.9;
	background-color:#fff;
	display:block;
	top:0;
	margin:auto;
}

.align_center{
	display:block;
	margin:auto;
}

.align_right{
	display:block;
	margin:auto 0 auto auto;
}

.center{
	text-align:center;
}

.left{
	text-align:left;
}

.right{
	text-align:right;
}

.ds_block{
	display:block !important;
}

.img_width{
	width:100%;
}

.img_center{
	display:block;
	margin:auto;
}

.anchor{
   display:block;
   height:190px; /* this is the height of your header */
   margin-top:-190px; /* this is again negative value of the height of your header */
   visibility:hidden;
}

.dis_inline{
	display:inline-block;
}

.flex_table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.flex_table > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

	/* Custom arrow product */
	.swiper-button-prev{
		background-image:url('../images/other/Right_arrow_black.png') !important;
	}

	.swiper-button-next{
		background-image:url('../images/other/Left_arrow_black.png') !important;
	}

	.swiper-button-prev.swiper-button-disabled{
		background-image:url('../images/other/Right_arrow_Red.png') !important;
	}

	.swiper-button-next.swiper-button-disabled{
		background-image:url('../images/other/Left_arrow_Red.png') !important;
	}
	/* End Custom arrow product */
/* End Other */

/* Cart */
	/* Effect Cart*/
	.loader-container{
		text-align: center;
		margin-bottom: 10px;
	}

	.loader-container > .cart-loader{
		display: inline-block;
		vertical-align: middle;
		width: 10px; 
		height: 10px;
		background: #ca1515;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		animation: fade .9s infinite alternate;
	}

	@media screen and (max-width:1023px) {
		.cart-box.popup{
			display: none!important;
		}
	}

	@media screen and (min-width:1024px) and (max-width:1150px){
		.cart-box.popup{
			left:70% !important;
		}
	}

	@media screen and (min-width:1151px) and (max-width:1439px){
		.cart-box.popup{
			left:74% !important;
		}
	}

	.cart-box.popup{
		position:absolute;
		width:300px;
		z-index:100;
		left:78%;
		padding: 15px 0 0 0;
		display:none;
	}

	.hd_cart_active{
		display:block !important;
	}

	.cart-box.popup .button-x {
	    position: absolute;
	    top: 0;
	    right: 2px;
	    cursor: pointer;
	}

	.cart-box.popup .popup-container{
		border: 2px #ebebeb solid; 
		padding: 25px 20px 20px 20px; 
		background: #fff; position: relative;
		max-height: 500px;
    	overflow: auto;
	}

	.cart-box.popup .image{
		float: left; 
		width: 70px;
	}

	.cart-box.popup .image img{
		display: block; 
		width: 100%; 
		height: auto;
	}

	.cart-box.popup .cart-entry{
		padding-bottom: 25px; 
		margin-bottom: 25px; 
		border-bottom: 2px #ebebeb solid; 
		position: relative;
	}

	.cart-box.popup .content{
		margin: 0 20px 0 85px;
	}

	.cart-box.popup .content .title{
		font-size: 14px; 
		line-height: 14px; 
		color: #666666; 
		font-weight: 600; 
		margin-bottom: 5px; 
		display: block;
	}

	.cart-box.popup .content .title:hover{
		text-decoration: underline;
	}

	.cart-box.popup .content .quantity{
		font-size: 13px; 
		line-height: 24px; 
		color: #666666; 
		margin-bottom: 3px;
	}

	.cart-box.popup .content .price{
		font-size: 18px; 
		line-height: 24px; 
		color: #e11414; 
		font-weight: 600;
	}

	.cart-box.popup .summary{
		text-align: right;
		margin-bottom: 25px;
	}

	.cart-box.popup .summary .subtotal{
		font-size: 14px; 
		line-height: 22px; 
		color: #666666; 
		font-weight: 600;
	}

	.cart-box.popup .summary .grandtotal{
		font-size: 18px; 
		line-height: 22px;
		color: #666666; 
		font-weight: 600;
	}

	.cart-box.popup .summary .grandtotal span{
		color: #e11414;
	}

	.cart-buttons .column{
		width: 100%; 
		padding-left: 5px; 
		float: left;
	}

	.cart-buttons .column:first-child{
		padding-left: 0; 
		padding-right: 5px;
	}

	.cart-buttons{
		display: block; 
		margin-bottom: 60px;
		text-align: center;
	}

	.button.style-3{
		font-size: 12px;
	    line-height: 16px;
	    font-weight: 700;
	    color: #666666;
	    width:100%;
	    text-transform: uppercase;
	    background-color:transparent !important;
	    display: inline-block;
	    text-align: center;
	    border: 2px #666666 solid;
	    padding: 10px 5px;
	}

	.button.style-4{
		font-size: 12px;
	    line-height: 16px;
	    font-weight: 700;
	    color: #fff;
	    width:100%;
	    text-transform: uppercase;
	    background: #666666;
	    display: inline-block;
	    text-align: center;
	    border: 2px #666666 solid;
	    padding: 10px 5px;
	}

	.cart-box.popup .popup-container:before {
		background: url(../img/search-angle.png); 
		content: ""; 
		height: 15px; 
		position: absolute; 
		right: 24%; 
		top: -15px; 
		width: 28px;
	}

	.color_minicart{
		width:30px;
		height:30px;
	}

	@-webkit-keyframes fade {
	  0% {
	    width: 50px;
	    height: 50px;
	    opacity: 1;
	  }
	  100% {
	    width: 50px;
	    height: 50px;
	    opacity: 0.1;
	  }
	}
	@keyframes fade {
	  0% {
	    width: 50px;
	    height: 50px;
	    opacity: 1;
	  }
	  100% {
	    width: 50px;
	    height: 50px;
	    opacity: 0.1;
	  }
	}
	/* End Effect Cart */
/* End Cart */

.cus_container{
	padding-left:30px;
	padding-right:30px;
}


.cus_container2{
	padding-left:60px;
	padding-right:60px;
}

@media screen and (min-width: 768px) and (max-width:1024px){
	.cus_container2{
		padding-left:30px !important;
		padding-right:30px !important;
	}
}

@media screen and (max-width: 767px) {
	.cus_container{
		padding-left:15px !important;
		padding-right:15px !important;
	}

	.cus_container2{
		padding-left:15px !important;
		padding-right:15px !important;
	}
}

.cus_tabs{
	margin-top:3%;
}

.cus_tabs > .nav-justified > .active a{
	background-color:#e9e9e9 !important;
}

.cus_tabs > .nav-justified > li{
	margin-top:0 !important;
}

@media screen and (min-width:767px){
	.cus_tabs > .nav-justified > li:not(:last-child){
		border-right: 2px solid #464646;
	}
}

.cus_tabs > .nav-justified > li > a{
    border-radius: 0 !important;
    color:#464646 !important;
  	display:block;
  	margin:auto 15%;
  	padding:4%;
  	vertical-align:middle;
  	font-family:EspressoB !important;
  	font-size:18px !important;
}

.cus_tabs > .nav-justified > li > a:hover{
	background-color:#e9e9e9;
}

.cus_tabs > .nav-justified > li > a:focus{
	background-color:#e9e9e9;
}

.cus_tabs2{
	margin-top:3%;
}

.cus_tabs2 > .nav-justified > .active a{
	background-color:#f8f0e6 !important;
}

.cus_tabs2 > .nav-justified > li{
	margin-top:0 !important;
}

@media screen and (min-width:767px){
	.cus_tabs2 > .nav-justified > li:not(:last-child){
		border-right: 2px solid #464646;
	}
}

.cus_tabs2 > .nav-justified > li > a{
    border-radius: 0 !important;
    color:#464646 !important;
  	display:block;
  	margin:auto 15%;
  	padding:4%;
  	vertical-align:middle;
  	font-family:EspressoB !important;
  	font-size:18px !important;
}

.cus_tabs2 > .nav-justified > li > a:hover{
	background-color:#f8f0e6;
}

.cus_tabs2 > .nav-justified > li > a:focus{
	background-color:#f8f0e6;
}
/* End Container*/

/* Header */
.cus_active span{
	border-bottom: 2px solid #ffffff!important;
    padding-bottom: 10% !important;
}

.header_con{
	position:relative;
	background:rgba(255,255,255,0.5);
}

.head_con{
	position:absolute;
	z-index:200;
	top:0;
}

.head_2 button{ 
	background-color: #ddd !important;
	border:2px solid #ddd !important;
}

.head_2 button > span{ 
	background-color: #000000 !important;
}

.head_4{
	font-family: elliotB !important;
}

.head_4 li > a{
	color:#ffffff;
}

.head_4 li > a:hover{
	background:transparent !important;
	color:#ddd;
}

.head_4 li > a:focus{
	background:transparent !important;
	color:#ddd !important;
}

@media screen and (min-width:320px) and (max-width:767px){
	.cus_active span{
		padding-bottom:2% !important;
	}

	.head_3{
		background:rgba(0,0,0,0.8) !important;
	}
} 

@media screen and (min-width:1214px){
	.head_4{
		margin-top:3% !important;
	}
}

@media screen and (min-width:768px) and (max-width:1023px){
	.head_1 a > img{
		margin-top:8% !important;
	}
}
/* End Header */

/* Footer */
.ft_a{
	display:block !important;
	margin:auto;
}

.ft_sosmed{
	background-color: white;
    text-align: center;
    border-radius: 60%;
    width: 40px;
    height: 40px;
    margin-bottom:10px;
}

.ft_sosmed:hover{
	text-decoration:none !important;
}

.ft_sosmed:focus{
	text-decoration:none !important;
}

.ft_sosmed2{
	margin-top:8%;
	color:#ffffff !important;
}

.ft_sosmed2:hover{
	color:#ffffff;
	text-decoration:underline;
	text-decoration-color:#ffffff;
}
/* End Footer */

/* Banner */
.bn_con1{
	width:100%;
	height:100%;
	position:absolute;
	z-index:100;
	top:0;
	right:0;
	left:0;
	background-color:rgba(0,0,0,0.4);
}

.bn_con1_1{
	margin-top:12%;
	margin-left:5%;
}

.bn_con1_2{
	font-family:elliotB !important;
}

.bn_con1_2 h1{
	color:#ffffff;
	margin-bottom:5%;
	font-family:EspressoB !important;
}

.bn_con1_2 p{
	color:#ffffff;
	margin-bottom:5%;
	font-size:16px !important;
}

.bn_con1_3{
	color:#ffffff;
}

@media screen and (min-width:320px) and (max-width:767px){
		.bn_img img{
			min-height: 437px !important;
		}

		.bn_con1_1{
			margin-top: 30% !important;
		}
	}

	@media screen and (min-width:768px) and (max-width:1023px){
		.bn_img img{
			min-height: 437px !important;
		}

		.bn_con1_1{
			margin-top:18% !important;
		}

	}

	@media screen and (min-width:1024px) and (max-width:1439px){
		.bn_con1_1{
			margin-top:10% !important;
		}

		.bn_con1_2 h1{
			margin-bottom:8% !important;
		}

		.bn_con1_2 h1{
			margin-bottom:8% !important;
		}
	}

	@media screen and (min-width:1440px){
		.bn_con1_2{
			max-width:33% !important;
		}
	}
/* End Banner */

/* Home */
.hm_con1{
	position:relative;
	height:100%;
	margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* Slideshow */
	.slide_con1{
		width:100%;
		height:100%;
		position:absolute;
		z-index:100;
		top:0;
		right:0;
		left:0;
		background-color:rgba(0,0,0,0.4);
	}

	.slide_con1_1{
		margin-top:15%;
		margin-left:5%;
	}

	.slide_con1_2{
		font-family: elliotB !important;
	}

	.slide_con1_2 h1{
		color:#ffffff;
		margin-bottom:5%;
		font-family: EspressoB !important;
	}

	.slide_con1_2 p{
		color:#ffffff;
		margin-bottom:5%;
		font-size:16px;
		line-height:150%;
	}

	.slide_con1_3{
		color:#ffffff;
	}

	.slide_con1_3:hover{
		color:#ffffff;
	}

	.slide_con1_3 button{
		background:transparent !important;
		border:2px solid #ffffff !important;
		padding:10px 20px;
		border-radius:20px;
	}


	.swiper-pagination-bullet{
		width:15px !important;
		height:15px !important;
		background:#ffffff;
		opacity:1 !important;
	}

	.swiper-pagination-bullet-active{
		background-color:#701920;
	}

	@media screen and (min-width:320px) and (max-width:767px){
		.cus_slider{
			min-height: 400px !important;
		}

		.cus_slider img{
			min-height: 400px !important;
		}

		.slide_con1_1{
			padding-right: 15px;
			margin-top:30%;
		}

		.slide_con1_2 h1{
			font-size:2em !important
		}

		.slide_con1_2 p{
			font-size:0.9em !important
		}

		.slide_con1_3 button{
			font-size:0.9em !important
		}
	}

	@media screen and (min-width:768px) and (max-width:1023px){
		.cus_slider{
			min-height: 437px !important;
		}

		.cus_slider img{
			min-height: 437px !important;
		}

		.slide_con1_1{
			margin-top:15% !important;
		}

	}

	@media screen and (min-width:1024px) and (max-width:1439px){
		.slide_con1_1{
			margin-top:12% !important;
		}

		.slide_con1_2 h1{
			margin-bottom:8% !important;
		}

		.slide_con1_2 h1{
			margin-bottom:8% !important;
		}
	}

	@media screen and (min-width:1440px){
		.slide_con1_2{
			max-width:33% !important;
		}
	}
/* End Slideshow */
.hm_con2{
	background-image:url('../images/other/itu.png');
	background-size: cover;
	color:#ffffff;
}

.hm_con2_1{
	margin-top:3%;
	margin-bottom:5%;
	font-family: elliotB !important;
}

.hm_con2_1 h1{
	margin-bottom:3% !important;
}

.hm_con2_p{
	margin-bottom:4% !important;
}

.hm_con3{
	background-image:url('../images/other/CoffeeBean.png');
	background-size: cover;
	color:#ffffff;
}

.hm_con3_1{
	background:rgba(0,0,0,0.9);
	font-family: elliotR !important;
}

.hm_con3_2{
	padding-top:3%;
	padding-bottom:3%; 
}

.hm_con3_p{
	margin-bottom:0 !important;
	line-height:150%;
	font-size:16px;
}

.hm_con3_3{
	font-size:20px !important;
}

@media screen and (min-width:320px) and (max-width:767px){
	.hm_con3_3{
		font-size:1.6em !important;
	}
}

@media screen and (min-width:768px) and (max-width:1030px){
	.hm_con3_3{
		font-size: 1.4em !important;
	}
} 

.hm_con3_4{
	margin-top:4%;
}

.hm_con3_4 a > i{
	display:block;
	margin:20% auto;
	color:black;
}

.hm_con3_5{
	display: block;
    margin: auto;
}

.hm_con3_5 p{
	line-height:150%;
	font-size:16px;
}

.hm_con4{
	background-color:#701b1f;
	color:white;
	padding-top:1%;
}
/* End Home */

/* Our Company */
.oc_con1{
	background-image:url('../images/other/oc_image1.jpg');
	background-size: cover;
	color:#ffffff;
}

.oc_con1_1{
	background:rgba(112, 27, 31, 0.9);
	font-family: elliotB !important;
}

.oc_con1_2{
	margin-top:5%;
	margin-bottom:5%;
}

.oc_con1_2 h1{
	font-size:48px !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
}

.oc_con1_3{
	margin-top:6%;
	margin-bottom:5%;
}

.oc_con1_3 p > span{
	font-size:20px !important;
}

.oc_con2{
	background-color:#ffffff;
	font-family: elliotR !important;
}

.con_con2 h1, .con_con2 h2, .con_con2 h3, .con_con2 h4, .con_con2 h5, .con_con2 h6, .con_con2 a{
	font-family: elliotB !important;
}

.oc_con2_1{
	color:#272727 !important;
	padding-top:5%;
	padding-bottom:5%;
	font-family: elliotR!important;
}

.oc_con2_1 p{
	line-height: 200%;
	font-size:16px !important;
}

.oc_con2_1_L{
	text-transform:capitalize;
	font-family:EspressoB !important;
}

.oc_con3{
	background-color:#1b181a;
	color:#ffffff;
}

.oc_col{
	padding:10%;
	font-family: elliotR;
}

.oc_col h1, .oc_col h2, .oc_col h3, .oc_col h4, .oc_col h5, .oc_col h6{
	font-family: elliotB!important;
}

.oc_col ul > li {
	font-size: 25px;
}

.oc_col ul > li > span{
	font-size:14px !important;
}

.oc_col p{
	font-size:14px !important;
}

.oc_col h1, .oc_col h2, .oc_col h3, .oc_col h4, .oc_col h5, .oc_col h6{
	margin-top:0 !important;
	margin-bottom:10px !important;
}

.oc_col_bl{
	display:block !important;
	margin:auto;
}

@media screen and (min-width: 320px) and (max-width:767px){
	.oc_rsv{
		order:2;
	}
}

@media screen and (min-width:768px) and (max-width:1023px){
	.oc_col p{
		font-size:0.8em !important;
	}

	.oc_col h1, .oc_col h2, .oc_col h3, .oc_col h4, .oc_col h5, .oc_col h6{
		font-size:1em !important;
	}

	.oc_col ul > li{
		font-size:1em !important;
	}

	.oc_col ul > li > span{
		font-size:0.8em !important;
	}
}
/* End Our Company */

/* Our Product */
.prod_con{
	color:#272727 !important;
	padding-top:5%;
	font-family: elliotR!important;
}

.prod_con p{
	line-height: 200%;
	font-size:16px !important;
}

.prod_1{
	margin-top:40px;
	margin-bottom:20px;
	font-family:elliotB !important;
	color:#474747 !important;
}

@media screen and (max-width:1023px){
	.prod_1 h1{
		font-size: 1.6em !important;
	}
}

.prod_2{
	display:block;
	margin:auto;
	color:#474747;
}

.prod_2 h4{
	font-family:elliotB !important;
}

.prod_2 p{
	line-height:150%;
}

.prod_3{
	margin-bottom:2%;
}

.prod_4{
	padding-left:5%;
	padding-right:5%;
	margin-top:2%;
	margin-bottom:5%;
}

.prod_5{
	background-color:#ece5e5 !important;
	padding: 4% 3% 2% 3%;
}

.prod_5 h2{
	color:#555556;
	font-family:elliotB !important;
}

.prod_6{
	margin-bottom:2%;
}

.prod_7{
	margin-bottom:2%;
}

@media screen and (max-width:767px){
	.prod_img{
		margin-bottom:20px;
	}
}
/* End Our Product */

/* Our Recipes */
.or_con1{
	padding-top:4%;
	padding-bottom:4%;
	background-color:#ffffff;
	color:#474747;
}

.or_con1 select{
	margin-right:10px;
}

.or_1{
	background-color:#b07c4c !important;
	color:#ffffff !important;
	border-radius:0 !important;
	width:auto !important;
	font-size:14px !important;
}

.or_inline{
	display:inline-block;
}

.or_2{
	margin-bottom:2%;
}

.or_3{
	margin-bottom:2%;
}

.or_des h1, .or_des h2, .or_des h3, .or_des h4, .or_des h5, .or_des h6, .or_des p, .or_des span {
	font-family:mvboli !important;
	color:#474747 !important;
}

.or_des p{
	line-height:150% !important;
	font-size:16px;
}

.or_des ul{
	padding-left:20px !important;
}

.or_des ul > li{
	line-height:180%;
}

.or_submit{
	background-color: #701b1f;
    color: #ffffff !important;
    border-radius:0 !important;
}

.or_submit:hover{
	background-color:#000000 !important;
}

.or_submit:focus{
	background-color:#000000 !important;
}

.or_con2{
	text-align:right;
}

.or_con2 ul > .disabled{
	display:none !important;
}

.or_con2 ul > li > span{
	color:#ffffff;
	background-color:#b07c4c;
	border:1px solid #b07c4c;
}

.or_con2 ul > li > a{
	color:#ffffff;
	background-color:#b07c4c;
	border:1px solid #b07c4c;
	border-radius:0 !important;
}

.or_con2 ul > .active > span{
	background-color:#1a1513 !important;
	border:1px solid #1a1513 !important;
}

.or_con2 ul > li > span{
	margin-right:10px;
}

.or_con2 ul > li > a{
	margin-right:10px;
}

.or_con2 ul > li > a:hover{
	background-color:#1a1513 !important;
	color:#ffffff;
	border:1px solid #1a1513;
}

.or_con2 ul > li > a:focus{
	background-color:#1a1513 !important;
	color:#ffffff;
	border:1px solid #1a1513;
}

@media screen and (max-width:346px){
	.or_con3{
		margin-top:10px;
	}

	.or_con3 button{
		margin-top:10px;
	}
}


.or_4{
	height: 11.8em;
	overflow: hidden;
}

.or_4 h1, .or_4 h2, .or_4 h3, .or_4 h4, .or_4 h5, .or_4 h6{
	font-size:16px !important;
	font-weight:600 !important;
} 

@media screen and (max-width:767px){
	.or_des{
		margin-top:5%;
		margin-bottom:5%;
	}
}
/* End Our Recipes */

/* Detail Our Recipes */
.orc_detail{
	margin-top:3%;
	margin-bottom:3%;
}

.orc_1{
	margin-bottom:2%;
	color:#030404 !important;
	font-family:EspressoB !important;
}

.orc_1 h1{
	font-size:48px !important;
}

.orc_des{
	color:#4b2b06 !important;
}
.orc_des h1, .orc_des h2, .orc_des h3, .orc_des h4, .orc_des h5, .orc_des h6{
	font-family:EspressoB !important;
	font-size:28px !important;
	color:#8c5009 !important;
}

.orc_des p, .orc_des ul > li{
	font-size:16px !important;
	line-height:150%;
	color:#8c5009 !important;
}

.dor_btn{
	margin-top:2%;
	margin-bottom:2%;
}

.dor_btn button{
	background-color:#8c5009 !important;
	color:#ffffff !important;
	border-radius:0 !important;
}
/* End Detail Our Recipes */

/* Business Chance */
.bc_con1{
	background-color:#1b1719;
	color:red;
	padding-top:3%;
	padding-bottom:8%;
}

.bc_con1_1{
	margin-bottom:2%;
	font-family:elliotB !important;
}

.bc_con1_2{
	font-family:elliotR !important;
}

.bc_con_btn{
	border-radius:20px;
	border:1px solid #484848;
	padding:5px 20px;
	background:transparent !important;
	color:#484848;
	margin-top:3%;
}

.bc_con2{
	background-size:cover;
	color:#484848;
	background-color:#ffffff;
}

.bc_con2_1{
	background:rgba(255,255,255, 0.8);
	padding-top:3%;
	padding-bottom:8%;
}

.bc_con2_2 h2{
	margin-bottom:2%;
	font-family:elliotB !important;
	color:#37322c;
}

.bc_con2_3{
	font-family:elliotR !important;
}

.bc_con2_3 p, span{
	font-size:16px !important;
	line-height:150%;
}

.bc_con2_3 ul{
	padding-left:10px;
}

.bc_con2_4{
	font-size:16px;
	line-height:150%;
}
/* End Business Chance */

/* News */
.nw_con1{
	padding-top:4%;
	padding-bottom:4%;
	background-color:#ffffff;
	color:#504e4e !important;
}

.nw_con1_1{
	margin-bottom:4%;
}

.nw_con1_1 h1, .nw_con1_1 h2, .nw_con1_1 h3, .nw_con1_1 h4, .nw_con1_1 h5, .nw_con1_1 h6{
	font-family:elliotB !important;
	color:#504e4e !important;
}

.nw_con1_1 p{
	font-family:elliotR !important;
	line-height:150%;
	font-weight:600;
	font-size:16px;
}

.nw_con1_1 a{
	color:#ffffff;
	font-family:elliotR !important;
}

.nw_con1_1 a:hover{
	cursor:pointer;
}

.nw_con2{
	background-color:#ffffff;
}

.nw_con2 ul > .disabled{
	display:none !important;
}

.nw_con2 ul > li > span{
	color:#ffffff;
	background-color:#b07c4c;
	border:1px solid #b07c4c;
}

.nw_con2 ul > li > a{
	color:#ffffff;
	background-color:#b07c4c;
	border:1px solid #b07c4c;
	border-radius:0 !important;
}

.nw_con2 ul > .active > span{
	background-color:#1a1513 !important;
	border:1px solid #1a1513 !important;
}

.nw_con2 ul > li > span{
	margin-right:10px;
}

.nw_con2 ul > li > a{
	margin-right:10px;
}

.nw_con2 ul > li > a:hover{
	background-color:#1a1513 !important;
	color:#ffffff;
	border:1px solid #1a1513;
}

.nw_con2 ul > li > a:focus{
	background-color:#1a1513 !important;
	color:#ffffff;
	border:1px solid #1a1513;
}

.dt_nw_con1{
	padding-top:4%;
	padding-bottom:4%;
	background-color:#ffffff;
	color:#504e4e;
	font-family:elliotR;
}

.dt_nw_con1 h1, .dt_nw_con1 h2, .dt_nw_con1 h3, .dt_nw_con1 h4, .dt_nw_con1 h5, .dt_nw_con1 h6{
	font-family:elliotB !important;
}

.dt_nw_con1 p{
	font-size:16px;
	font-weight:600;
	line-height:150%;
}

.dt_cus_btn{
	background-color:#b07c4c;
	color:#ffffff;
	padding:5px 15px;
	border:none !important;
}

.dt_cus_btn:hover{
	background-color:#1a1513;
}

.nw_link{
	color:#8e1010 !important;
}
/* End News */

/* Contact US */
.cu_con{
	background-color:#c97417;
}

.cu_con1{
	color:white;
	padding-top:5%;
	padding-bottom:5%;
	background-color:#111111;
}

.cu_con1 p{
	line-height: 200%;
	font-size:16px !important;
}

.cu_con2{
	background-image:url('../images/other/cu_1.jpg');
	background-size:cover;
	color:#ffffff;
	padding-top:4%;
	padding-bottom:4%;
}

.cu_con2_1{
	margin-bottom: 3%;
	font-family:elliotB !important;
}

.cu_con2_1{
	font-family:elliotB !important;
}

.cu_con2_1 h2{
	color:#616160 !important;
}

.cu_con2_1 h2 > span{
	border-bottom:4px solid #616160;
	padding-bottom:10px;
	font-size:24px !important;
}

@media screen and (min-width:320px) and (max-width:767px){
	.cu_con2_1 h2 > span{
		line-height: 1.5 !important;
		padding-bottom:0 !important;
		font-size: 0.7em !important;
	}
}

.cu_gmaps{
	border:0;
	height:100%;
	width:100%;
	min-height: 400px;
}

.cu_con2_3 h3{
	padding-bottom:3%; 
	font-family:elliotB !important;
	padding-top:3%;
	color:#616160;
}

.cu_con2_3 input{
	border-radius: 0;
}

.cu_con2_3 textarea{
	border-radius: 0;
}

.cu_con2_3 input::placeholder{
	padding-left:10px;
	color:#c4c4c4;
	font-weight:600;
}

.cu_con2_3 textarea::placeholder{
	padding-left:10px;
	color:#c4c4c4;
	font-weight:600;
}

@media screen and (min-width:1024px){
	.cu_recaptcha div{
		width:100% !important;
	}
}

@media screen and (min-width:320px) and (max-width:1023px){
	.cu_recaptcha{
		transform:scale(0.77) !important;
		-webkit-transform:scale(0.77) !important;
		transform-origin:0 0 !important;
		-webkit-transform-origin:0 0 !important;
	}
}

.cu_btn{
	padding:10px 30px;
	color:#ffffff;
	border:0 !important;
	background:#701b1f;
}


.cu_con3_1{
	font-family: elliotR !important;
}

.cu_con3_2{
	padding-top:3%;
	padding-bottom:3%; 
}

.cu_con3_p{
	margin-bottom:0 !important;
	line-height:150%;
	font-size:16px;
}

.cu_con3_3{
	font-size:20px !important;
}

@media screen and (min-width:320px) and (max-width:767px){
	.cu_con3_3{
		font-size:1.6em !important;
	}
}

@media screen and (min-width:768px) and (max-width:1030px){
	.cu_con3_3{
		font-size: 1.4em !important;
	}
} 

.cu_con3_4{
	margin-top:4%;
}

.cu_con3_4 a > i{
	display:block;
	margin:20% auto;
	color:#c97417;
}

.cu_con3_5{
	display: block;
    margin: auto;
}

.cu_con3_5 h1,h2,h3,h4,h5,h6{
	color: #ffffff;
}

.cu_con3_5 p{
	line-height:150%;
	font-size:16px;
	color:#ffffff !important;
	margin-bottom: 0;
}
/* End Contact Us */


